@page 
@model JubiLarian.Pages.Menagment.IndexModel
@{
    ViewData["Title"] = "Panel zarządzania";
}

<link href="~/css/mainPageStyle.css" rel="stylesheet" />
<h1>Główny @ViewData["Title"]</h1>
<hr />

<div class="text-center m-6" id="mianBelt">
    <a class="btn btn-group-vertical" asp-page="CreateProduct">Strórz nowy produkt</a>
    <a class="btn btn-group-vertical" asp-page="AddProducent">Dodaj producenta</a>
    <a class="btn btn-group-vertical" asp-page="AddType">Stwórz nowy typ</a>
</div>