@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Ops błąd.</h1>
<h3 class="text-danger">Nasąpił błąd, który przerwał Twoje żądanie.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Id żądania:</strong> <code>@Model.RequestId</code>
    </p>
}
