@page
@model IndexModel
@{
    ViewData["Title"] = "Główna strona";
}

<div class="text-center">
    <h1 class="display-4 text-black-50 text-capitalize">Witaj</h1>
    <a class="font-weight-light">w naszym wspaniałym sklepie!</a>
    <hr />
    <a class="p-sm-1 text-info">Obecnie znajdujesz się w jego głównym panelu.</a>
</div>
