@page
@model IndexModel
@{
    ViewData["Title"] = "Główna strona";
}

<link href="~/css/mainPageStyle.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4 text-capitalize">Witaj</h1>
    <h3 id="secondTitle">w naszym wspaniałym sklepie!</h3>
    <hr />
    <p class="p-sm-1">Obecnie znajdujesz się w jego głównym panelu.</p>
</div>
