@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Wszelkie dane na tej stronie są włanością sklepu. Wykorzystynie ich bez zgody grozi odpowiedzialnością.</p>
